<header class="header">Welcome to Decentralized Bank!</header>
<div *ngIf="!this.signer" class="connect-button"><label> You have not connected!</label></div>
<div *ngIf="this.signer" class="connect-button"><label> You have connected!</label></div>
<div class="total-assets">Bank's total assets under management: {{this.totalAssets}} Ether</div>
<div class="total-free">{{this.signerAddress}} amount deposited : {{this.userTotalAssets}} Ether</div>
<div class="total-free">{{this.signerAddress}} amount of Yield Tokens : {{this.userTotalToken}} FREE</div>

<div class="forms">
  <form [formGroup]="depositForm" (ngSubmit)="deposit()">
    <div class="deposit">
      <label for="depositAmount">Amount to deposit</label>
      <input id="depositAmount" type="number" formControlName="DepositAmount">
      <button class="button" type="submit">Deposit</button>
    </div>
  </form>

  <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
    <div class="withdraw">
      <label for="withdrawAmount">Amount to withdraw</label>
      <input id="withdrawAmount" type="number" formControlName="WithdrawAmount">
      <button class="button" type="submit">Withdraw</button>
    </div>
  </form>
</div>
